
	
	.tabs
	{
	position: relative;
	display: block;
	width: 40em;
	height: 15em;
	margin: 2em auto;

	}

	.tabs .tab1, .tab2
	{

	border: 1px solid #BECDEE; 
	position: absolute;
	display: inline-block;
	top: 1.8em;
	height: 20em;
	width: 55em;
	left: 0;
	padding: 10px ;
	border-radius: 5px;
	z-index: 0;
	background-color: #E4F0FF;
	}

	.tabs .tab1
	{
	z-index: 1;
	}


	


	.tabs div h2
	{
		
	position: absolute;
	font-size: 1em;
	width: 120px;
	height: 1.8em;
	top: -1.85em;
	left: 20px;
	padding: 0;
	margin: 0 ;
	background-color: #E4F0FF;
	text-align: center;
	border-radius: 3px 3px 0px 0px;

	}

	.tabs .tab1 h2
	{
		/*border: 1px solid;*/
		border-right: 1px solid #BECDEE;
		border-top: 1px solid #BECDEE;
		border-left: 1px solid #BECDEE;

	}

	.tabs .tab2 h2
	{
		left: 145px;
		background-color: #FFFFFF;
		border-right: 1px solid #BECDEE;
		border-top: 1px solid #BECDEE; 
		border-left: 1px solid #BECDEE;

	}

	.tabs  h2 a
	{
	
	line-height: 1.8em;
	text-decoration: none;
	color: black;
	}

	.tabs .tab1 div
	{
	width: 47%;
	height: 18em;
	float: left;
	border: 1px solid #A5BBE4;
	background-color: white;
	}

	.tabs .tab1 .con1
	{
	
	margin: 1em 0.5em 1em 1em; 
	
	}

	.tabs .tab1 .con2
	{
	
	margin: 1em 1em 1em 0.5em; 
	
	}


	.tab1 .learn
	{
	position: absolute;	
	left: 7.5em;
	top: 14.8em;
	width: 10em;
	height: 2em;
	text-align: center;
	background-color: green;
	
	line-height: 2em;
	}

	/*.learn :hover
	{
		background-color: white;
	}
*/
	.tab1 .learn a
	{
		text-decoration: none;
		color: white;
		text-shadow:1px 1px black 1px;
	}

	

	.p_h1
	{
		padding-left: 1em;
		font-weight: bold;
		font-size: 1.5em;
		font-family: sans-serif;
		color: #767676;
	}

	.p_h2
	{

		text-align: justify;
		padding-left: 1.5em;
		padding-right: 1.5em;
		font-weight: 500;
		font-size: 1.1em;	
		color: #B4B4B4;
	}

	.p_h3
	{
		
		padding: 1.5em;
		padding-top:0em;
		font-weight: 500;
		font-size: 1.3em;
		color: #6291D7;
	}

	.image_div
	{
padding:0em 2em 1em 2em;

	}
