/*@font-face {
    font-family:fontawesome;
    src: url(fontawesome.ttf);

}*/

body
{
  margin:0;
  padding:0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.mother_div
{
  display: inline-block;
  height: 100%;
  width: 99.8%;
  position: absolute;

}

.sidebar
{
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height:100%;
  margin: 0;
  display: block;

}


 .bottomPanel
 {
   width: 100px;
    height: 100px;
   color: #8a8685;
  display: inline-block;
  float: right;
  margin-top: 70%;
  margin-right: 10%;
  width: 50%;

}

.social
{
	display: block;
	float: right;
	max-height: 9%;
	max-width: 9%;
	margin: 10% 0% 5% 5%;
}

.social img
{
	max-height: 100%;
	max-width: 100%;
}

.info
{
    display: block;
    clear: both;
    float: right;
    margin-top: 7%;
    font-size: 60%;
    color: #8a8685;
}


.sidebar .sidebar-bg1
{
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-image: url(../../images/bg.jpg), url(../../images/bgR.jpg);

  background-size: contain;
  background-repeat: no-repeat, repeat-y;

}



.sidebar .sidebar-inner
{
  margin: 22% 10% 0 0%;
  width: 50%;
  height: 30%;
  float: right;
  z-index: 999;
}

.sidebar .sidebar-inner img
 {
   border-radius: 100%;
   float: right;
   margin-bottom: 1%;
}

.sidebar .sidebar-inner .inner,.i1,.i2
 {
   border-radius: 100%;
   float: right;
   margin: 1.5%;
    font-size: 14.5px;
    line-height: 1.3em;
    color: #FFFFFF;
}


.i2
{
  color: #bdbab3;
  font-size: 13.5px;
}


.content
{
  width: 70%;
  height:100%;
  margin: 0;
  float: right;

}

.heading
{
 margin: 9% 5% 3% 5%;

}

.heading div
{
  margin: 1% 1% 2% 0;

}

.heading div h2
{
  color: #7c7c7c;
  font-size:25px;
  font-weight: 200;
  padding-right: 0%;
}

.heading div p
{
  padding: 0 4% 0 0;
 color: #989898;
 font-size: 13.5px;
line-height: 1.6em;
}

.heading input
{
  margin-top: 2%;
  top:30%;
  background-color: transparent;
  width: 10em;
  height: 2.8em;
  outline: none;
  border-radius: 5px;
  border: 2px solid #16B891;
  color: #16B891;
}

 .recent_work_wrapper
{
  border-top: 2px solid #EFEFEF;
  border-bottom: 2px solid #EFEFEF;
  margin: 6% 5% 3% 5%;
  padding-top:2%;

}
.recent_work_wrapper  h4
{
  color:#7c7c7c;

}



.r_wrapper
{
  display: inline-block;
  width: 100%;
}

.r_wrapper div
{
  position: relative;
  float: left;
  margin: 3% 0% 1% 0 ;
  width: 48%;
}

.r_wrapper  .imgp
{
 margin-right: 4%;

 }

.r_wrapper  .imgp img
{
   border: 1px solid #7c7c7c;
 }

.r_wrapper div p
{
  padding: 0;
  margin: 0;
}

.r_wrapper .r_wrapper-p1
{
  margin-top: 4%;
  margin-bottom: 1.5%;
  color:#7c7c7c;
  font-size: 13px;
  font-weight: bold;
  }

  .r_wrapper .r_wrapper-p2
  {
  font-size: 12px;
  color: #7c7c7c;
  font-weight: normal;
  }


.r_wrapper img
{
  border-radius: 10px;
  width: 100%;
}

.recent_work_wrapper input
{
  margin: 2.5% 0 6% 0;
  background-color: transparent;
  width: 10em;
  height: 2.8em;
  outline: none;
  border-radius: 5px;
  border: 2px solid #ECECEC ;
  color: #767676;
}

.get-in-touch
{
 margin: 0 5% 10% 5%;

}

.get-in-touch  h4
{
     color:#7c7c7c;
}

.get-in-touch p
{

 color: #989898;
 font-size: 13.5px;
line-height: 1.6em;

}

.get-in-touch-inner
{
    width: 100%;
    height:12em;

}

.get-in-touch-inner  .left, .right
{

    display:inline-block;
    height:10em;
}

.get-in-touch-inner .left
{
  float: left;
   width: 62%;
   height: 100%;

}

.get-in-touch-inner .left input[type=text]
{
   height: 2.5em;
	width: 44.5%;
	border-radius: 3px;
	outline: none;
	border: none;
    padding-left: 3%;
    background-color: #F7F7F7;
 }


.get-in-touch-inner .left .input-margin-right
{

  margin-right: 3%;
}

.get-in-touch-inner .left textarea
{
    margin-top: 3%;
    width: 95.5%;
    height: 55%;
    padding-left: 3%;
    background-color: #F7F7F7;
    border-radius: 3px;
   /* resize: none; */
    outline: none;
    border: none;
}

.get-in-touch-inner .right

{
   float: right;
   width: 34%;
   height: 100%;
   display: inline-block ;

}

.get-in-touch-inner .right  div
{
      margin: 5% 3%;

}

.get-in-touch-inner .right table .td-1-styele
{
 padding-top:5.5%;
}

.get-in-touch-inner .right  div  span
{
     color: #888888;
     font-size: 14px;
     line-height: 1.8em;

}



.get-in-touch input
{
  margin-top: 5%;
  background-color: transparent;
  width: 10em;
  height: 2.8em;
  outline: none;
  border-radius: 5px;
  border: 3px solid #ECECEC ;
  color: #767676;
}

#myemail
{
  text-decoration:  underline;
  text-decoration-style:dashed;

}
